{% extends "base.html" %}

{% block title %}
    Tizimdan Chiqish
{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg rounded-4" style="width: 100%; max-width: 400px;">
        <div class="card-header bg-warning text-dark text-center rounded-top">
            <h4 class="fw-bold">Tizimdan Chiqish</h4>
        </div>
        <div class="card-body text-center">
            <h5>Siz tizimdan muvaffaqiyatli chiqdingiz.</h5>
            <a href="{% url 'login' %}" class="btn btn-warning btn-lg">Tizimga Kirish</a>
        </div>
    </div>
</div>
{% endblock content %}
