{% extends "users/base.html" %}

{% block title %}
    Tizimda chiqish
{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg" style="width: 100%; max-width: 400px;">
        <div class="card-header bg-dark text-light text-center">
            <h4>Tizimdan chiqish</h4>
        </div>
        <form method="post"> 
            {% csrf_token %}
            <div class="card-body text-center">
                <p class="mb-4">Siz haqiqatdan ham tizimdan chiqib ketishni xohlaysizmi?</p> 
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-danger btn-lg">Chiqish</button>
                </div>
                <div class="d-grid gap-2">
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Bosh sahifaga qaytish</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
